openapi: 3.1.0
info:
  title: Microsoft Graph Calendar API
  description: 'Microsoft Graph is the unified API endpoint for Microsoft 365 services including

    users, groups, mail, calendar, files (OneDrive/SharePoint), Teams, and more.

    This subset captures common v1.0 endpoints documented at

    https://learn.microsoft.com/graph/api/overview.

    '
  version: v1.0
  contact:
    name: Microsoft Graph
    url: https://learn.microsoft.com/graph/
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 (general availability)
- url: https://graph.microsoft.com/beta
  description: Microsoft Graph beta (preview)
security:
- OAuth2: []
tags:
- name: Calendar
paths:
  /me/events:
    get:
      summary: List signed-in user's calendar events
      operationId: listMeEvents
      tags:
      - Calendar
      responses:
        '200':
          description: Events
  /me/calendar/events:
    post:
      summary: Create a calendar event
      operationId: createCalendarEvent
      tags:
      - Calendar
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Event created
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Microsoft identity platform (Microsoft Entra ID) OAuth 2.0
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            User.Read: Sign-in and read user profile
            User.ReadWrite.All: Read and write all users
            Mail.Read: Read user mail
            Mail.Send: Send mail as user
            Calendars.ReadWrite: Read/write calendars
            Files.ReadWrite.All: Read/write all files
            Group.ReadWrite.All: Read/write all groups
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://graph.microsoft.com/.default: Default app permissions
