openapi: 3.1.0
info:
  title: Microsoft Graph Calendar Users API
  description: 'Microsoft Graph is the unified API endpoint for Microsoft 365 services including

    users, groups, mail, calendar, files (OneDrive/SharePoint), Teams, and more.

    This subset captures common v1.0 endpoints documented at

    https://learn.microsoft.com/graph/api/overview.

    '
  version: v1.0
  contact:
    name: Microsoft Graph
    url: https://learn.microsoft.com/graph/
servers:
- url: https://graph.microsoft.com/v1.0
  description: Microsoft Graph v1.0 (general availability)
- url: https://graph.microsoft.com/beta
  description: Microsoft Graph beta (preview)
security:
- OAuth2: []
tags:
- name: Users
paths:
  /me:
    get:
      summary: Get signed-in user profile
      description: Returns the profile of the signed-in user.
      operationId: getMe
      tags:
      - Users
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /me/photo/$value:
    get:
      summary: Get signed-in user photo
      operationId: getMePhoto
      tags:
      - Users
      responses:
        '200':
          description: Photo binary
          content:
            image/jpeg: {}
  /users:
    get:
      summary: List users
      operationId: listUsers
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/Select'
      - $ref: '#/components/parameters/Filter'
      - $ref: '#/components/parameters/Top'
      responses:
        '200':
          description: Collection of users
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollection'
  /users/{id}:
    get:
      summary: Get user by id or principal name
      operationId: getUser
      tags:
      - Users
      parameters:
      - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: User
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /me/manager:
    get:
      summary: Get the signed-in user's manager
      operationId: getMeManager
      tags:
      - Users
      responses:
        '200':
          description: Manager
  /me/directReports:
    get:
      summary: List the signed-in user's direct reports
      operationId: listMeDirectReports
      tags:
      - Users
      responses:
        '200':
          description: Direct reports collection
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
        displayName:
          type: string
        userPrincipalName:
          type: string
        mail:
          type: string
        jobTitle:
          type: string
    UserCollection:
      type: object
      properties:
        value:
          type: array
          items:
            $ref: '#/components/schemas/User'
        '@odata.nextLink':
          type: string
  parameters:
    Filter:
      name: $filter
      in: query
      schema:
        type: string
    UserId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: User id or userPrincipalName.
    Select:
      name: $select
      in: query
      schema:
        type: string
    Top:
      name: $top
      in: query
      schema:
        type: integer
  securitySchemes:
    OAuth2:
      type: oauth2
      description: Microsoft identity platform (Microsoft Entra ID) OAuth 2.0
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            User.Read: Sign-in and read user profile
            User.ReadWrite.All: Read and write all users
            Mail.Read: Read user mail
            Mail.Send: Send mail as user
            Calendars.ReadWrite: Read/write calendars
            Files.ReadWrite.All: Read/write all files
            Group.ReadWrite.All: Read/write all groups
        clientCredentials:
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes:
            https://graph.microsoft.com/.default: Default app permissions
